[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
nordigen = "*"
fastapi = "*"
python-dateutil = "*"
click = "*"
uvicorn = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pytest-cov = "*"
types-requests = "*"
types-python-dateutil = "*"
flake8 = "*"
diff-cover = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
tests = "bash -c 'python -m pytest --cov=personal_finances --cov-report=xml --cov-report=term tests/ && diff-cover coverage.xml --compare-branch=origin/master && diff-quality --violations=flake8 --compare-branch=origin/master'"
build = "bash -c 'mypy . && flake8 .'"
format = "black ."
generate_reports = "python -m personal_finances.generate_reports"
fetch_transactions = "python -m personal_finances.fetch_transactions"
merge_transactions = "python -m personal_finances.merge_transactions"
aws_pack="""
    bash -c ' \
    # Generate requirements.txt from Pipenv
    pipenv requirements > requirements.txt && \

    # Create package directory and install dependencies using aws python image
    rm -rf package && \
    mkdir package && \
    docker run --rm -v $(pwd):/var/task --entrypoint /bin/bash public.ecr.aws/lambda/python:3.11 -c "\
    pip install boto3 -t ./package && \
    pip install -r requirements.txt -t ./package"

    # Zip the contents of the package directory
    (cd package && zip -r ../in_fin_core_package.zip ./*) && \

    # Add the personal_finances directory to the existing ZIP
    zip -r in_fin_core_package.zip personal_finances && \
    
    # Cleaning 
    rm requirements.txt && \
    mv in_fin_core_package.zip ./package/in_fin_core_package.zip'
"""

